<!DOCTYPE html>
<html>
    <head>
        <title></title>

    </head>
    <body>
        <div>
            <h1>Predict breast cancer</h1>
            <form action="{{url_for('predict')}}" method="post">
                <input type="text" name="1" required = "required" />
                <input type="text" name="2" required = "required" />
                <input type="text" name="3" required = "required" />
                <input type="text" name="4" required = "required" />
                <input type="text" name="5" required = "required" />
                <input type="text" name="6" required = "required" />
                <input type="text" name="7" required = "required" />
                <input type="text" name="8" required = "required" />
                <input type="text" name="9" required = "required" />
                <input type="text" name="10" required = "required" />
                <input type="text" name="11" required = "required" />
                <input type="text" name="12" required = "required" />
                <input type="text" name="13" required = "required" />
                <input type="text" name="14" required = "required" />
                <input type="text" name="15" required = "required" />
                <input type="text" name="16" required = "required" />
                <input type="text" name="17" required = "required" />
                <input type="text" name="18" required = "required" />
                <input type="text" name="19" required = "required" />
                <input type="text" name="20" required = "required" />
                <input type="text" name="21" required = "required" />
                <input type="text" name="22" required = "required" />
                <input type="text" name="23" required = "required" />
                <input type="text" name="24" required = "required" />
                <input type="text" name="25" required = "required" />
                <input type="text" name="26" required = "required" />
                <input type="text" name="27" required = "required" />
                <input type="text" name="28" required = "required" />
                <input type="text" name="29" required = "required" />
                <button type"submit">PREDICT<button/>
            </form>

            <br>
            <br>
            {{prediction_text}}
        </div>
    </body>
</html>